# Ignore everything by default
*

# Allow .gitignore itself
!.gitignore

# Allow your app folder
!app/
!app/**

# Allow common config files
!package.json
!package-lock.json
!requirements.txt
!README.md

# Still ignore node_modules, envs, IDE files, etc.
**/node_modules/
**/.venv/
**/venv/
**/__pycache__/
**/.vscode/
**/.env
**/*.log


**/.git
**/.gitmodules
