.button_regular{
    background-color: cyan;
    width: 100px;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius:10px ;
}


